In [73]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
from time import sleep
import pymongo

In [74]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\Samantha\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

# Step 1: Scraping

# NASA Mars News

In [78]:
# URL of page to be scraped
news_url = 'https://redplanetscience.com/'
browser.visit(news_url)

sleep(15)

In [80]:
# Retrieve page with the requests module
news_response = requests.get(news_url)
# Create BeautifulSoup object; parse with 'html.parser'
news_soup = BeautifulSoup(news_response.text, 'html.parser')

news_html = browser.html
news_results = BeautifulSoup(news_html, 'html.parser')

# Get values from html
news_title = news_results.find('div', class_='content_title')
news_title = news_title.text.strip()
news_p = news_results.find('div', class_='article_teaser_body')
news_p = news_p.text.strip()

print(news_title)
print(news_p)

NASA's Curiosity Mars Rover Snaps Its Highest-Resolution Panorama Yet
To go along with the stunning 1.8-billion-pixel image, a new video offers a sweeping view of the Red Planet.

# JPL Mars Space Featured Image

In [82]:
# URL of page to be scraped
image_url = 'https://spaceimages-mars.com/'
browser.visit(image_url)

# Retrieve page with the requests module
image_response = requests.get(image_url)
# Create BeautifulSoup object; parse with 'html.parser'
image_soup = BeautifulSoup(image_response.text, 'html.parser')

image_html = browser.html
image_results = BeautifulSoup(image_html, 'html.parser')

# Get value from html

featured_image_url = image_results.find('img', class_='headerimage')

featured_image_url = featured_image_url['src']

print(featured_image_url)

image/featured/mars3.jpg

# Mars Facts

In [83]:
import pandas as pd

In [84]:
# URL of page to be scraped
facts_url = 'https://galaxyfacts-mars.com/'

In [85]:
# Scrape table from website
fact_table = pd.read_html(facts_url)
fact_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [86]:
# Convert table to dataframe and clean it up
facts_df=fact_table[1]
facts_df=facts_df.rename(columns={0:"Fact", 1:"Value"})
facts_df["Fact"]=facts_df["Fact"].str.replace(':', '')
facts_df

                  Fact                          Value
0  Equatorial Diameter                       6,792 km
1       Polar Diameter                       6,752 km
2                 Mass  6.39 × 10^23 kg (0.11 Earths)
3                Moons          2 ( Phobos & Deimos )
4       Orbit Distance       227,943,824 km (1.38 AU)
5         Orbit Period           687 days (1.9 years)
6  Surface Temperature                   -87 to -5 °C
7         First Record              2nd millennium BC
8          Recorded By           Egyptian astronomers

In [87]:
#convert dataframe to html table string
facts_html=facts_df.to_html()
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Fact</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [21]:
# URL of page to be scraped
hemis_url = 'https://marshemispheres.com/'
browser.visit(hemis_url)

# Retrieve page with the requests module
hemis_response = requests.get(hemis_url)
# Create BeautifulSoup object; parse with 'html.parser'
hemis_soup = BeautifulSoup(hemis_response.text, 'html.parser')

hemis_html = browser.html
hemis_results = BeautifulSoup(hemis_html, 'html.parser')

# Get URL of pages to be scraped
url_results = hemis_soup.find_all('div', class_='item')

url_list=[]

for result in url_results:
    
    hemisphere=result.find('a')['href']
    url_list.append(hemisphere)


print(url_list)

['cerberus.html', 'schiaparelli.html', 'syrtis.html', 'valles.html']

In [89]:
# Loop through URLs to scrape and get list of dictionaries
hemisphere_image_urls=[]

for item in url_list:
    item_url=hemis_url+item
    browser.visit(item_url)
    item_response=requests.get(item_url)
    item_soup=BeautifulSoup(item_response.text, 'html.parser')
    item_html=browser.html
    item_results=BeautifulSoup(item_html, 'html.parser')
    
    # Get values to create dictionary
    
    parent1=item_soup.find('div', class_='cover')
    
    h_title=parent1.find('h2','title')
    h_title=h_title.text.strip()
    h_title=h_title.rstrip('Enhanced')
    h_title=h_title.rstrip(' ')
    
    parent2 = item_soup.find('div', class_='description')
    
    h_image=parent2.find('a')['href']
    
    # Create dictionary
    
    hemisphere_image_url={'title': h_title, 'image_url': h_image}
    hemisphere_image_urls.append(hemisphere_image_url)
    
   
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere', 'image_url': 'images/cerberus_enhanced.tif'}, {'title': 'Schiaparelli Hemisphere', 'image_url': 'images/schiaparelli_enhanced.tif'}, {'title': 'Syrtis Major Hemisphere', 'image_url': 'images/syrtis_major_enhanced.tif'}, {'title': 'Valles Marineris Hemisphere', 'image_url': 'images/valles_marineris_enhanced.tif'}]

In [ ]:
browser.quit()